@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Poppins, sans-serif;
  --font-mono: Fira Code, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Lora, serif;
  --radius: 1.575rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.575rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1149 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.6186 0.1826 252.9331);
  --primary: oklch(0.6088 0.1325 240.8180);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6088 0.1325 240.8180);
  --secondary-foreground: oklch(0.9889 0.0053 17.2475);
  --muted: oklch(0.6603 0.1356 241.2078);
  --muted-foreground: oklch(0.1822 0 0);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.1344 0 0);
  --destructive: oklch(0.7063 0.1631 246.4717);
  --border: oklch(0.9602 0.0034 247.8587);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.6057 0.1726 267.2534);
  --chart-1: oklch(0.6067 0.1839 274.0106);
  --chart-2: oklch(0.8184 0.0674 236.4361);
  --chart-3: oklch(0.6805 0.1460 236.5423);
  --chart-4: oklch(0.5053 0.1582 255.1375);
  --chart-5: oklch(0.5128 0.1751 256.3409);
  --sidebar: oklch(0.8761 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.6967 0.1145 248.0205);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7222 0.0891 278.1471);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.6638 0.1332 251.6025);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: #2b6cee;
  --shadow-opacity: 0;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow-xs: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow-sm: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00), 0px 1px 2px -1px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00), 0px 1px 2px -1px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow-md: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00), 0px 2px 4px -1px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow-lg: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00), 0px 4px 6px -1px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow-xl: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00), 0px 8px 10px -1px hsl(220 85.1528% 55.0980% / 0.00);
  --shadow-2xl: 0px 0px 5px 0px hsl(220 85.1528% 55.0980% / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2497 0.0305 234.1628);
  --foreground: oklch(0.9306 0.0197 349.0785);
  --card: oklch(0.2917 0.0417 251.9938);
  --card-foreground: oklch(0.9306 0.0197 349.0785);
  --popover: oklch(0.2902 0.0299 233.5352);
  --popover-foreground: oklch(0.9306 0.0197 349.0785);
  --primary: oklch(0.4584 0.1802 265.5061);
  --primary-foreground: oklch(0.9923 0.0042 236.4949);
  --secondary: oklch(0.5884 0.2244 262.1773);
  --secondary-foreground: oklch(0.2497 0.0305 234.1628);
  --muted: oklch(0.2713 0.0086 255.5780);
  --muted-foreground: oklch(1.0000 0 0);
  --accent: oklch(0.6465 0.1000 274.7510);
  --accent-foreground: oklch(0.9306 0.0197 349.0785);
  --destructive: oklch(1.0000 0 0);
  --border: oklch(0.3907 0.0399 242.2181);
  --input: oklch(0.9612 0 0);
  --ring: oklch(0.6149 0.1908 257.2788);
  --chart-1: oklch(0.6998 0.0896 201.8672);
  --chart-2: oklch(1.0000 0 0);
  --chart-3: oklch(1.0000 0 0);
  --chart-4: oklch(0.4408 0.0702 217.0848);
  --chart-5: oklch(0.2713 0.0086 255.5780);
  --sidebar: oklch(0.2303 0.0270 235.9743);
  --sidebar-foreground: oklch(0.9670 0.0029 264.5419);
  --sidebar-primary: oklch(0.6101 0.1775 262.5411);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5366 0.2473 272.8484);
  --sidebar-accent-foreground: oklch(0.2781 0.0296 256.8480);
  --sidebar-border: oklch(0.3729 0.0306 259.7328);
  --sidebar-ring: oklch(0.5847 0.2155 265.8181);
  --destructive-foreground: oklch(0.2497 0.0305 234.1628);
  --radius: 1.575rem;
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: #324859;
  --shadow-opacity: 0;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow-xs: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow-sm: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00), 0px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00), 0px 1px 2px -1px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow-md: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00), 0px 2px 4px -1px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow-lg: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00), 0px 4px 6px -1px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow-xl: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00), 0px 8px 10px -1px hsl(206.1538 28.0576% 27.2549% / 0.00);
  --shadow-2xl: 0px 0px 5px 0px hsl(206.1538 28.0576% 27.2549% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* Hide scrollbar for horizontal scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}